<template>
  <div>
      <h1>About Dadjokes </h1>
      <p>This is an app that displays corny dad jokes </p>
  </div>
</template>

<script>
export default {
head(){
    return {
        title: ' About The App',
        meta: [
            {
                hid:"description",
                name:"description",
                content:"best place for corny dad jokes "
            }
        ]
    }
}
}
</script>

<style>

</style>