<template>
 <div>
   <h2>Welcome to the best corny dad jokes in the web </h2>
 </div>
</template>

<script>
export default {
head(){
    return {
        title: 'Welcome to the DadJokes ',
        meta: [
            {
                hid:"description",
                name:"description",
                content:"best place for corny dad jokes "
            }
        ]
    }
}
}
</script>

<style>

</style>
